/*
 * ===============
 * Project Page
 * ===============
 */

 


/* -- Project Intro Section -- */
.project-overview-section {}
.project-overview-section .project-overview .project-meta .metadata {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: calc(var(--small)/2);
}

@media( min-width: 500px )  {
	.project-overview-section .project-overview .sub-heading { font-size: var(--h5); }
	.project-overview-section .project-overview .project-meta {
		text-align: right;
		padding-right: var(--space-100);
	}
	.project-overview-section .project-overview .project-meta .metadata {
		justify-content: right;
		flex-direction: row-reverse;
	}
	.project-overview-section .project-overview .description { text-align: left; }
}
@media( min-width: 1500px ) { .project-overview-section .project-overview .sub-heading { font-size: var(--h4); } }




/* -- Project Siteplan Section -- */

.project-siteplan-section {}
.project-siteplan-section .project-siteplan .select-siteplan {
	display: inline-block;
	width: auto;
	position: absolute;
	z-index: 3;
	top: var(--space-100);
	left: 50%;
	transform: translateX(-50%);
}
.project-siteplan-section .project-siteplan .select-siteplan-label {
	text-shadow: 0 0 var(--space-min) var(--hue-dark);
	display: inline-block;
	width: auto;
	position: absolute;
	z-index: 3;
	top: var(--space-50);
	left: 50%;
	transform: translateX(-50%);
	letter-spacing: calc(var(--small) / 16);
}


.project-siteplan-section .project-siteplan .siteplan { display: none; }
.project-siteplan-section .project-siteplan .siteplan-radio:checked + .siteplan { display: block; }

@media( min-width:  500px ) {}
@media( min-width: 1000px ) {}
@media( min-width: 1500px ) {}



/* -- Project Amenities Section -- */

.project-amenities-section .description { text-align: center; }

.project-amenities-section .amenities {
	list-style: none;
	margin: 0;
	display: block;
}
.project-amenities-section .amenity {
	display: flex;
	margin: 0;
	align-items: center;
	justify-content: flex-start;
}
.project-amenities-section .amenity img {
	width: var(--h3);
}
.project-amenities-section .amenity span {
	display: inline-block;
	font-size: var(--p);
	padding-left: var(--space-25);
}
@media( min-width:  500px ) {
	.project-amenities-section .amenities {
		columns: 2;
	}
}
@media( min-width: 1000px ) {
	.project-amenities-section .columns.large-offset-0 .description { text-align: left; }
}


/* -- Project Banner Section --  */

.project-banner-section .project-banner {
	display: flex;
	overflow: clip;
	padding: var(--space-100);
}
.project-banner-section .project-banner .heading {
	position: relative;
	z-index: 2;
	display: inline-block;
}
.project-banner-section .project-banner .heading:before {
	content: '';
	display: block;
	position: absolute;
	z-index: -1;
	top: calc(var(--space-150) * -1);
	left: calc(var(--space-150) * -1);
	right: calc(var(--space-150) * -1);
	bottom: calc(var(--space-150) * -1);
	background-color: var(--hue-dark);
	opacity: 0.85;
	filter: blur(var(--space-100));
}
@media( min-width:  500px ) {
	.project-banner-section .project-banner .heading {
		width: 60%;
		font-size: var(--h4);
	}
}
@media( min-width: 1000px ) {
	.project-banner-section .project-banner {
		padding: var(--space-150);
	}
	.project-banner-section .project-banner .heading {
		width: 50%;
		font-size: var(--h3);
	}
	.project-banner-section .project-banner .heading:before {
		top: calc(var(--space-200) * -1);
		left: calc(var(--space-200) * -1);
		right: calc(var(--space-200) * -1);
		bottom: calc(var(--space-200) * -1);
		filter: blur(var(--space-150));
	}
}
@media( min-width: 1500px ) {
	.project-banner-section .project-banner {
		padding: var(--space-200);
	}
	.project-banner-section .project-banner .heading {
		width: 40%;
		font-size: var(--h2);
	}
	.project-banner-section .project-banner .heading:before {
		top: calc(var(--space-250) * -1);
		left: calc(var(--space-250) * -1);
		right: calc(var(--space-250) * -1);
		bottom: calc(var(--space-250) * -1);
		filter: blur(var(--space-200));
	}
}



/* -- Project Brochure Section -- */
.project-brochure-section .project-brochure {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: clip;
	padding: var(--space-100);
}
@media( min-width:  500px ) {
	.project-brochure-section .project-brochure .heading h5 { font-size: var(--h4); }
	.project-brochure-section .project-brochure .heading h6 { font-size: var(--h5); }
}
@media( min-width:  1000px ) {
	.project-brochure-section .project-brochure {
		padding: var(--space-150);
		justify-content: center;
	}
	.project-brochure-section .project-brochure .heading h5 { font-size: var(--h3); }
	.project-brochure-section .project-brochure .heading h6 { font-size: var(--h4); }
	.project-brochure-section .project-brochure .cta .button {
		transform: scale(1.125);
		transform-origin: top left;
	}
}
@media( min-width:  1500px ) {
	.project-brochure-section .project-brochure {
		padding: var(--space-200);
	}
	.project-brochure-section .project-brochure .heading h5 { font-size: var(--h2); }
	.project-brochure-section .project-brochure .heading h6 { font-size: var(--h3); }
}